a.username {
    color: #0c050f
}
a.tag {
color: #0c050f
}
.lgbackground{
background: #2b0043
}
.twitter-btn{
background: #0c050f

}
.welcome{
color: #ffffff
}
.noTweets{
color: #ffffff
}
.created{
color: #ffffff
}

.Tweets{
color: #ffffff
}